.finalgif{
    margin-left: 450px;
    width: 600px;
    position: absolute;
    top: 0;
}
.place-suc{
    position: absolute;
    top: 350px;
    left: 520px;
}
.logofinal{
    width: 300px;
    position: absolute;
    top: 0;
}
